echo "Reseting MySQL databse password for user 'root'..."

export mysql_root_temporary_password=`grep 'temporary password' /var/log/mysqld.log | cut -d":" -f4`
mysql --connect-expired-password --user=root --password=`echo ${mysql_root_temporary_password}` <<_EOF_
SET PASSWORD = PASSWORD('{{ mysql_root_password }}');
GRANT ALL ON *.* TO root IDENTIFIED BY '{{ mysql_root_password }}' WITH GRANT OPTION;
FLUSH PRIVILEGES;
_EOF_

mysql --silent --user=root --password={{ mysql_root_password }} <<EOF
select sysdate() as "Current Date" from dual;
EOF

if [ "$?" -eq "0" ]; then
  echo
  echo "MySQL database installed successfully !"
else
  echo
  echo "There was some issue whihe reseting password for 'root' user !"
fi

