oracle.install.responseFileVersion=/oracle/install/rspfmt_clientinstall_response_schema_v12.2.0
UNIX_GROUP_NAME={{ ora_inventory_group }}
INVENTORY_LOCATION={{ ora_inventory_location }}
ORACLE_HOME={{ ora_home_directory }}
ORACLE_BASE={{ ora_base_directory }}
oracle.install.client.installType=Administrator

