#!/usr/bin/env bash

SHELL_SCRIPT_LOCATION="{{ dragon_base_directory }}/{{ dragon_os_user_id }}/SERVER/shell/bin"
DPACK_LOCATION="{{ dragon_base_directory }}/{{ dragon_os_user_id }}/SERVER/setup/package/optional"
DPACK_LIST="{{ target_software_location }}/optional_dpacks_list.txt"
LOG_FILE_NAME="{{ target_software_location }}/install_optional_dpacks.log"

rm -f ${LOG_FILE_NAME}

if [ -f ${DPACK_LIST} ]; then

   for dpack in `cat ${DPACK_LIST}`;
     do
        if [ -f ${DPACK_LOCATION}/${dpack} ]; then
           ${SHELL_SCRIPT_LOCATION}/shell.sh add-package -file ${DPACK_LOCATION}/${dpack} | tee -a ${LOG_FILE_NAME}
        fi
     done
fi

