echo ""                                                                   >> ~/.bashrc
echo "export http_proxy=http://{{proxy_server}}:{{proxy_server_port}}"    >> ~/.bashrc
echo "export https_proxy=http://{{proxy_server}}:{{proxy_server_port}}"   >> ~/.bashrc
echo ""                                                                   >> ~/.bashrc

