<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <keys>
    <key id="default" value="HYF3+odg0eOwYFp7DQzrc/sXNiDDMxTrVPLnkJehlNE=" plugin="aesEncryption" />
    <key id="statuser" value="dSoUMGdKQpx4daz7wRgiJvsXNiDDMxTrVPLnkJehlNE=" plugin="aesEncryption" />
    <key id="sec-data-alpha" value="wYWNbQWPUDZjHdKLlLcHaPsXNiDDMxTrVPLnkJehlNE=" plugin="aesEncryption" />
    <key id="sec-data-num" value="1JYI+W849T5O89tBBsUfXPsXNiDDMxTrVPLnkJehlNE=" plugin="aesEncryption" />
  </keys>
</configuration>
